*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: yellow;
}
nav{
    padding: 12px 12px;
    background-color: rgb(182, 159, 159);
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    padding: 3px 17px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
h1{
    /* text-align: center; */
}
p{
    /* text-align: center; */
}
.container{
    margin: 13px auto;
    background-color: yellowgreen;
    max-width: 70%;
    text-align: center;
    padding: 5px;
}
input,textarea{
    display: block;
    padding: 4px;
    margin:17px auto;
    width: 60%;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #b39d95;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    
}
.btn:hover{
    background-color: yellow;
    padding: 10px 9px; 
}
@media only screen and (max-width: 416px){
    ul{
        text-align: center;
        justify-content: center;
    }
}